.about_container {
    display: flex;
    padding: 6.2rem;
    gap: 8rem;
    justify-content: center;
    align-items: center;
    background: rgba(240, 239, 245, 0.70);
}

.image_container {
    border: 3px solid transparent;
  background: linear-gradient(rgb(240, 239, 245), rgb(240, 239, 245)) padding-box,
    linear-gradient(120deg, #4E279D, rgb(255, 107, 169)) border-box;
  border-radius: 2.375rem;
}

.image_container img {
    border-radius: 2.375rem;
    position: relative;
    top: 2.12rem;
    left: 2.12rem;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.small_description {
    font-size: 1.25rem;
    font-weight: 700;
}

.name {
    font-size: 3rem;
    font-weight: bold;
}

.gradient {
    background: -webkit-linear-gradient(0deg, #5948bb, #a765ec);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.summary {
    margin-top: 3rem;
    color: #757779;
    text-align: justify;
}

.info_container {
    margin-top: 2.5rem;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.info_label {
    font-size: 1.0625rem;
    font-weight: bold;
    width: 50%;
}

.info_content {
    font-size: 1rem;
    font-weight: 400;
    width: 50%;
    color: #474C52;
}

.learn_btn {
    margin-top: 5rem;
    padding: 0.5rem 2rem;
    border: none;
    background-color: #7D6AE9;
    border-radius: 0.375rem;
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}