.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
  background: #fff;
}

.header_container h1 {
  font-size: 1.5rem;
  font-weight: 800;
}

.purple_linear_gradient {
  background: -webkit-linear-gradient(0deg, #5948bb, #a765ec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav_list {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav_list li {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 0.4rem;
    align-items: center;
    font-size: 0.875rem;
    color: #474C52;
    font-weight: 700;
    cursor: pointer;
}

.btn_container {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    align-items: center;
}

.btn_container button {
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    font-weight: 700;
    border-radius: 0.4rem;
}

.download_btn {
    color: #7D6AE9;
    background-color: #F0EFF5;
    border: 1px solid #D0D3D6;
}

.contact_btn {
    color: #fff;
    background-color: #9048DD;
    border: none;
}