.card_container {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0px 15px 40px 10px rgba(5, 5, 5, 0.11);
    width: 370px;
    min-height: 206px;
    justify-content: center;
}

.card_container img {
    border-radius: 1.125rem;
}

.card_title {
    font-size: 1.25rem;
    width: 16rem;
}

.card_description {
    font-size: 0.8rem;
    color: #757779;
    text-align: justify;
    width: 19rem;
    font-weight: bold;
}

.card_container span {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    font-weight: bold;
}