.resume_container {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.caption {
  font-size: 1.25rem;
  font-weight: 700;
}

.heading {
  font-size: 3rem;
  font-weight: bold;
}

.gradient {
  background: -webkit-linear-gradient(0deg, #5948bb, #ec65a4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.timeline_container {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.education_timeline, .experience_timeline {
    width: 100%;
}

.title {
  color: #333;
  font-size: 1.25rem;
  font-weight: 700;
}
.description {
  color: #757779;
  font-size: 0.8rem;
  font-weight: bold;
}
